
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patil Agrotech</title>
    <link rel="stylesheet" href="/static/style/myhome.css">
</head>
<body>
    <header>
        <h1>WELCOME TO AGRI GUIDE</h1>
    </header>
    <main>
        <section class="intro">
            <p><h1>Embark on a journey to agricultural excellence with AgriGuide! We're excited to partner with you...</h1></p>
            <h2>Start a new journey with AGRI GUIDE</h2>
        </section>
        <section class="cta">
            <h2>Click the following button for Crop Recommendation</h2>
            <form action="/Predict">
                <input type="submit" id="Predict" name="Predict" value="Predict">
            </form>
        </section>
    </main>

</body>
</html>
